button {
  font-size:25px;
  font-family: 'Times New Roman';
  font-style: italic;
  background-color:blue;
  border: none;
  color: white;
  padding: 05px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: blue;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
li {
  margin: 0px;
  display: inline-block;
}
h1{
		text-align: center;
		font-style: italic;
		color: blue;

	}
body{
	background-color: #B0E0E6;
	font-family: cambria;
	color: black;
	font-size: 20px;
	}
}
