button {
  font-size:25px;
  font-family: 'Times New Roman';
  font-style: italic;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 05px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #3e8e41;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
li {
  margin: 0px;
  display: inline-block;
}
h1{
		text-align: center;
		font-style: italic;
		color: blue;
	}
body{
	background-color: rgb(119, 221, 50);
	font-family: cambria;
	color: black;
	font-size: 20px;
	}
}
